# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc*
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.xdv

# minitoc
*.mlf
*.mlt
*.ptc

# Biber
*.blg
*.brf

# Glossaries
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# Nomenclature
*.nlg
*.nlo
*.nls

# Indices
*.idx
*.ilg
*.ind

# Hyperref
*.hyp

# Other
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.eps
.main.aux
.fbd_latexmk
.fdb_latexmk
.main.bbl
.main.blg
.main.fdb_latexmk
.main.fls
.main.log
.main.run.xml
.main.synctex.gz    
.main.toc
.main.lot
.main.lof
